<div class="alternate-card">
  <label [for]="id">{{ name() }}:</label>
  @if (rows()) {
    <textarea
      [id]="id"
      [formControl]="control()"
      [placeholder]="name()"
      [rows]="rows()"
    ></textarea>
  } @else {
    <input [id]="id" [formControl]="control()" [placeholder]="name()" />
  }
</div>

<div class="error-message" aria-live="assertive">
  @if (control().invalid && control().dirty && control().errors?.["required"]) {
    <div class="animate__animated animate__headShake">
      {{ name() }} is required
    </div>
  }
</div>
