@use "@catppuccin/palette/scss/mocha" as mocha;

@font-face {
  font-family: "JetBrains Mono", monospace;
  src: url("../assets/JetBrainsMono-Regular-subset.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  border-bottom: 4px solid mocha.$surface2;
  color: mocha.$text;

  box-shadow: mocha.$crust 0px 3px 0px 0px;
}

h1 {
  color: mocha.$flamingo;
}

h2 {
  margin-bottom: 10px;
}

h4 {
  font-style: italic;
  color: mocha.$yellow;
  border: none;
  box-shadow: none;
}
