<div class="form-resume-section">
  @for (note of notes().controls; track $index; let i = $index) {
    <div class="form-controls">
      <div class="form-array-control">
        <label>Education Notes:</label>
        <textarea
          [formControlName]="i"
          rows="5"
          placeholder="A paragraph describing an experience"
        ></textarea>

        <div class="actions-container">
          <button type="button" (click)="removeNote(i)">
            <span class="material-symbols-outlined"> delete </span>
          </button>
        </div>
      </div>

      <div class="error-message" aria-live="assertive">
        @if (note.invalid && note.dirty && note.errors?.["required"]) {
          Note is required
        }
      </div>
    </div>
  }

  <div class="actions-container">
    <button type="button" (click)="addNote()">
      <span class="material-symbols-outlined"> add_circle </span>
      Add Education Note
    </button>
  </div>
</div>
