<div class="alternate-card">
  <form
    class="resume-form-container"
    [formGroup]="resumeForm"
  >
    <div class="form-control">
      <label for="objective">Objective:</label>
      <textarea
        formControlName="objective"
        placeholder="Enter your resume objective"
        rows="10"
      ></textarea>

      <div class="error-message" aria-live="assertive">
        @if (
          resumeForm.get("objective")?.invalid &&
          resumeForm.get("objective")?.dirty &&
          resumeForm.get("objective")?.errors?.["required"]
        ) {
          Objective is required
        }
      </div>
    </div>

    <div class="form-control">
      <h2>Work Experience</h2>

      @if (workExperiences) {
        <app-create-work-experience [workExperiences]="workExperiences" />
      }
    </div>

    <div class="form-control">
      <h2>Education</h2>
      @if (educations) {
        <app-create-education
          formArrayName="educations"
          [educations]="educations"
        />
      }
    </div>

    <div class="sticky-footer">
      <button type="submit" (click)="saveResume()">
        <span class="material-symbols-outlined"> save </span>
        Save Resume</button>
      <button type="submit" (click)="saveAndExit()">
        <span class="material-symbols-outlined"> arrow_outward </span>
        Save & Exit
      </button>
    </div>
  </form>
</div>
