<div class="alternate-card">
  <form
    class="resume-form-container"
    [formGroup]="resumeForm"
  >
    <app-form-control name="Resume Name" [control]="resumeName" />
    <app-form-control name="Objective" [control]="objective" [rows]="5"/>

    <div class="form-control">
      <h2>Work Experience</h2>

      @if (workExperiences) {
        <app-create-work-experience [workExperiences]="workExperiences" />
      }
    </div>

    <div class="form-control">
      <h2>Education</h2>
      @if (educations) {
        <app-create-education
          formArrayName="educations"
          [educations]="educations"
        />
      }
    </div>

    <div class="sticky-footer">
      <button type="submit" (click)="saveResume()">
        <span class="material-symbols-outlined"> save </span>
        Save Resume</button>
      <button type="submit" (click)="saveAndExit()">
        <span class="material-symbols-outlined"> arrow_outward </span>
        Save & Exit
      </button>
    </div>
  </form>
</div>
