@use "@catppuccin/palette/scss/mocha" as mocha;

@font-face {
  font-family: "JetBrains Mono", monospace;
  src: url("assets/JetBrainsMono-Regular-subset.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;

  font-family: "JetBrains Mono", monospace;
  background: mocha.$base;
  color: mocha.$text;
}

a {
  color: mocha.$blue;
}

p {
  border: 1px solid mocha.$overlay2;
  border-radius: 8px;
  background: mocha.$crust;
  color: mocha.$subtext1;

  box-shadow: mocha.$crust 3px 3px 3px 3px;

  margin: 0;
  padding: 5px 20px;

  @media (max-width: 768px) {
    padding: 5px 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  border-bottom: 4px solid mocha.$surface2;
  color: mocha.$text;

  box-shadow: mocha.$crust 0px 3px 0px 0px;
}

h2 {
  margin-bottom: 10px;
}

h4 {
  font-style: italic;
  color: mocha.$subtext0;
  border: none;
  box-shadow: none;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;

  background: mocha.$mantle;
  border: 1px solid mocha.$surface2;
  border-radius: 8px;
  box-shadow: mocha.$crust 3px 3px 3px 3px;

  padding: 16px;
  @media (max-width: 768px) {
    padding: 6px;
  }
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dates-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.alternate-card {
  @extend .card;
  background: mocha.$surface0;
}
