@use "@catppuccin/palette/scss/mocha" as mocha;

@use "anchors";
@use "buttons";
@use "cards";
@use "containers";
@use "errors";
@use "form-controls";
@use "paragraphs";
@use "typography";

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;

  font-family: "JetBrains Mono", monospace;
  background: mocha.$base;
  color: mocha.$text;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.sticky-footer {
  display: flex;
  width: 100%;
  position: sticky;
  bottom: 0;
}
