@use "mocha" as mocha;

@use "anchors";
@use "buttons";
@use "cards";
@use "containers";
@use "errors";
@use "form-controls";
@use "paragraphs";
@use "typography";
@use "print";
@use "colors";

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;

  font-family: "JetBrains Mono", monospace;
  background: mocha.$base;
  color: mocha.$text;
}
